body {
	font-family: 	'Roboto', sans-serif;
	background-color:  #F5F5F5;
}

#content {
	max-width:  	1100px;
	margin: 		0 auto;
	padding: 		0 50px;
	text-align:  	center;
}

#title {
	font-size:  	50px;
	font-family:  	'Abel', sans-serif;
	text-align:  	center;

	margin:			80px 0 50px;
}

.section {
	width: 			calc(33% - 70px);
	min-width:  	250px;
	padding: 		0 25px;
	margin: 		10px;
	background-color: #DDD;
	height: 		300px;
	display: 		inline-block;
	vertical-align: top;
	text-align:  	left;
}

/* for Christmas, odd = red; even = green */
.christmas .section:nth-child(odd) {
	background-color: #FFC6C6;
}
.christmas .section:nth-child(even) {
	background-color: #A0CEA0;
}

/* for St. Patrick's Day, all green */
.stpatricksday .section {
	background-color: #A0CEA0;
}

/* for Thanksgiving, odd = brown; even = orange */
.thanksgiving .section:nth-child(odd) {
	background-color: #C7925E;
}
.thanksgiving .section:nth-child(even) {
	background-color: #F5C36D;
}

.sectionHeader {
	font-weight:  	bold;
	font-size:  	21px;
	margin:			25px 0 10px;
}

.sectionContents {
	font-size:  	17px;
	line-height:  	22px;
	margin: 		3px ;
}

.club {
	display:  		inline-block;
	width:			60px;
}

a {
	color: 			blue;
}

.hiddenLink {
	display: 		none;
}
