#share_modal {
	margin: 		0;
	position: 		absolute;
	top: 			50%;
	left: 			50%;
	-ms-transform: 	translate(-50%, -50%);
	transform: 		translate(-50%, -50%);

	padding:		20px;
	border-radius:  20px;
	text-align:		center;
	background:  	white;
	box-shadow:  	0 0 15px 5px #AAA;
}

#share_modal img {
	margin-top: 	10px;
}

#share_modal input {
	margin-top:		20px;

	border: 		none;
	border-radius:	5px;
	padding:  		10px 25px;

	font-size:  	17px;
	line-height:  	17px;
	color: 			#EEE;
}

#share_close {
	background:		#AA3939;
}

#share_email {
	background:  	#27566B;
}



/* email table */

#emailContent {
	/*padding: 25px 15px;  cant' use, will cause email issues*/
	border: 1px solid black;
	font-family: Arial;
	display:  none;
}

#emailContent td:first-child, th:first-child {
	width:	 		20px;
	max-width: 		20px;
}

#emailContent td:last-child, th:last-child {
	width:	 		20px;
	max-width: 		20px;
}

#emailContent td:nth-child(2), th:nth-child(2) {
	width:			170px;
	max-width:		170px;
	text-align: 	left;
}

#emailContent td:nth-child(3):not(:last-child), th:nth-child(3):not(:last-child) {
	width:			80px;
	max-width:		80px;
	text-align: 	right;
}

#emailContent td[colspan="2"], th[colspan="2"] {
	text-align: 	center;
}
